php_value error_reporting 2039
php_flag display_errors on
php_value magic_quotes_gpc off

DirectoryIndex index.php

RewriteEngine On
RewriteRule ^webdav$  %{REQUEST_URI}/ [L,R]

RewriteCond     %{REQUEST_URI}  !^.*index.php
RewriteCond     %{REQUEST_URI}  !^.*deletecache.php
RewriteCond     %{REQUEST_URI}  !^.*epoz/
RewriteCond     %{REQUEST_URI}  !^.*_vti_.*
RewriteRule ^(.+)$ ./index.php?path=$1 [QSA]

#deny from all
#allow from 127.0.0.1

AuthType Basic
AuthName Planet-Admin
AuthUserFile ../../inc/admin-passwd
Satisfy any
require valid-user
